.container {
  float: left;
  width: 50%;
  text-align: center;
}

.favorites {
  float: left;
  width: 50%;
  text-align: center;


}
h2 {
  color: #320A28;
}

img{
  width: 300px;
  height:300px;
}
body{
  background-color: #E0D68A;
}
.squares {
  display: block;
  height:330px;
  width:330px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;

}
#searchBtn{
  height: 30px;
  width: 145px;
  border: none;
  color: white;
  text-align: center;
  background-color: #8E443D;
}
#favBtn{
  height: 30px;
  width: 145px;
  margin-left: 10px;
  border: none;
  color: white;
  text-align: center;
  background-color: #CB9173;
  display: none;

}
input{
  height: 30px;
  width: 300px;
}
#rmvBtn {
  height: 30px;
  width: 145px;
  border: none;
  color: white;
  text-align: center;
  background-color: #CB9173;
  display: none;
}
