.container {
  float: left;
  width: 50%;
}

.favorites {
  float: left;
  width: 50%

}

img{
  width: 300px;
  height:300px
}

.squares {
  display: block;
  height:300px;
  width:300px;
  margin: 40px;
}
#searchBtn{
  height: 30px;
  width: 145px;
  border: none;
  color: white;
  text-align: center;
  background-color: #bad455;
}
.favBtn{
  height: 30px;
  width: 145px;
  margin-left: 10px;
  border: none;
  color: white;
  text-align: center;
  background-color: blue;

}
.rmvBtn {
  height: 30px;
  width: 145px;
  border: none;
  color: white;
  text-align: center;
  background-color: red;
}
